<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="3" >


	<test name="Google Test">
		<classes>
			<class name="UITests.GoogleTest" />
		</classes>
	</test>


	<test name="OpenCart Test">
		<classes>
			<class name="UITests.LoginPageTest" />
		</classes>
	</test>


	<test name="OrangeHRM Test">
		<classes>
			<class name="UITests.OrangeHRMTest" />
		</classes>
	</test>


</suite>


